<div class="modal fade" id="executionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">¡{{currentGreet}}!</h3>
      </div>
      <div class="modal-body container">
        <div class="quotation-confirm">

        </div>
        <div *ngIf="!quotationConfirmed" class="modal-info">
          <h3>Estamos confirmando la cotización de tu tarjeta</h3>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

        </div>

        <div class="modal-info">
          <p *ngIf="state != 'creating'">Estamos reservando tu tarjetapp de <b>{{destinationAmount}} USD</b> a <b>${{sourceAmount | number:'1.0'}} pesos</b>

          <div *ngIf="(state != 'creating') && (timeLeft.mins <= 5) && (timeLeft.mins >= 1)" class="alert alert-info" role="alert">
            Te quedan sólo <strong>{{timeLeft.mins}} minutos</strong> para reservar tu tarjeta.
          </div>

          <div *ngIf="(state != 'creating') && (timeLeft.mins < 1)  && (timeLeft.mins >= 0)" class="alert alert-warning" role="alert">
            Te queda <strong>menos de 1 minuto</strong> para reservar tu tarjeta.
          </div>
        </div>

        <div *ngIf="quotationConfirmed">
          <div>
            <user-form *ngIf="state == 'gettingData'"></user-form>

            <bank-form *ngIf="state == 'confirming'" [sourceAmount]="sourceAmount"></bank-form>

            <deposit-form *ngIf="state == 'creating'"></deposit-form>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetState()">Cerrar</button>
        <button *ngIf="state != 'creating'" (click)="updateState()" type="button" class="btn btn-primary">Siguiente <i class="ion-arrow-right-c"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="executionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">¡{{currentGreet}}!</h3>
      </div>
      <div class="modal-body container">
        <div class="quotation-confirm">

        </div>
        <div *ngIf="!quotationConfirmed" class="modal-info">
          <h3>Estamos confirmando la cotización de tu tarjeta</h3>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

        </div>

        <div class="modal-info">
          <p *ngIf="state != 'creating'">Estamos reservando tu tarjetapp de <b>{{destinationAmount}} USD</b> a <b>${{sourceAmount | number:'1.0'}} pesos</b>

          <div *ngIf="(state != 'creating') && (timeLeft.mins <= 5) && (timeLeft.mins >= 1)" class="alert alert-info" role="alert">
            Te quedan sólo <strong>{{timeLeft.mins}} minutos</strong> para reservar tu tarjeta.
          </div>

          <div *ngIf="(state != 'creating') && (timeLeft.mins < 1)  && (timeLeft.mins >= 0)" class="alert alert-warning" role="alert">
            Te queda <strong>menos de 1 minuto</strong> para reservar tu tarjeta.
          </div>
        </div>

        <div *ngIf="quotationConfirmed">
          <div>
            <user-form *ngIf="state == 'gettingData'"></user-form>

            <bank-form *ngIf="state == 'confirming'" [sourceAmount]="sourceAmount"></bank-form>

            <deposit-form *ngIf="state == 'creating'"></deposit-form>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetState()">Cerrar</button>
        <button *ngIf="state != 'creating'" (click)="updateState()" type="button" class="btn btn-primary">Siguiente <i class="ion-arrow-right-c"></i></button>
      </div>
    </div>
  </div>
</div>
