<div class="container">
	<div class="modal-header row">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-highlight" id="modalLabel">Último paso: transferir</h4>
	</div>

	<div class="modal-description">
		<p class="text-muted">Transfiere el siguiente monto a la cuenta indicada dentro de los próximos 15 minutos</p>
	</div>

	<div class="modal-body row">
		<div class="container">

			<div *ngIf="state==='confirming'" class="row">
				<div role="tabpanel" class="tab-pane" id="deposit">
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<p>Un segundo...</p>
					</div>
				</div>
			</div>

			<div *ngIf="state==='confirmed'">
				<div class="row">
					<div class="col-xs-7 item">
						<h6>Cargar tarjeta con {{quotation.destinationAmount}} USD</h6>
					</div>
					<div class="col-xs-5 item-total">
						<h6>{{quotation.sourceAmount}}</h6>
					</div>
				</div>

				<div class="row text-muted">
					<div class="col-xs-7 item">
						<p>Tasa de cambio</p>
					</div>
					<div class="col-xs-5 item-total">
						<p>{{quotation.sourceAmount / quotation.destinationAmount}}CLP / 1USD</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-7 item">
						<h6>Costo de creación tarjeta</h6>
					</div>
					<div class="col-xs-5 item-total">
						<h6>{{fee}} CLP</h6>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<hr>
					</div>
				</div>

				<div class="row total">
					<div class="col-xs-7">
						<h5>Total a transferir</h5>
					</div>
					<div class="col-xs-5 item-total">
						<h5>${{quotation.sourceAmount + fee}} CLP</h5>
					</div>
				</div>

				<div class="footer-text">
					<div class="col-xs-12">
						<p class="highlight"><b>Datos cuenta bancaria</b></p>
						<p>Nombre: Dinex SpA</p>
						<p>RUT: 76.436.908-4</p>
						<p>Cuenta: 37501542</p>
						<p>Tipo de cuenta: Corriente</p>
						<p>Banco: Banco de Chile</p>
						<p>Correo: depositos@tarjetapp.cl</p>
					</div>
				</div>

				<div class="footer-text">
					<div class="col-xs-12">
						<p>Ten presente:</p>
						<ul>
							<li><p>La transferencia debes hacerla desde una cuenta bancaria con tu RUT</p></li>
							<li><p>Enviaremos los datos de la tarjeta creada a {{user.email}}</p></li>
						</ul>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="modal-footer row">
		<button class="btn" [disabled]="state==='confirming'" (click)="submitForm()">Ya transferí</button>
	</div>

</div>
