.no-bullet {
	list-style: none;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.text-muted p {
  font-size: 0.75em;
}

.item-total {
  text-align: right;
}

.highlight {
  color: #007fff;
}

.footer-text div {
  margin-top: 25px;
}

.footer-text p{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

hr {
  background-color: #007fff;
  opacity: 1;
  border-width: 1px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}