<div class="container modal-content">

  <div class="modal-header row">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel">¡Bien!</h4>
  </div>

  <div class="modal-description row">
    <p class="text-muted">Necesitamos que completes el siguiente formulario con tus datos:</p>
  </div>

  <div class="modal-body row">
    <form *ngIf="state==='RECEIVING_DATA'" [formGroup]="userForm">
      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.firstName.valid || userForm.controls.firstName.untouched)">
          <label class="col-form-label" for="inputFirstName">Nombres</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.firstName.valid || userForm.controls.firstName.untouched) ? 'hidden':'visible'">(requerido)</div>

          <input type="text" #firstName class="form-control" id="inputFirstName" placeholder="Ej: Tomás" [formControl]="userForm.controls.firstName">

        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.lastName.valid || userForm.controls.lastName.untouched)">
          <label class="col-form-label" for="inputlastName">Apellidos</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.lastName.valid || userForm.controls.lastName.untouched) ? 'hidden':'visible'">(requerido)</div>

          <input type="text" class="form-control" id="inputLastName" placeholder="Ej: Rodríguez" [formControl]="userForm.controls.lastName">

        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.rut.valid || userForm.controls.rut.untouched)">
          <label class="col-form-label" for="inputRUT">RUT</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.rut.valid || userForm.controls.rut.untouched) ? 'hidden':'visible'">(inválido)</div>

          <input type="text" #rut class="form-control" id="inputRUT" placeholder="Ej: 12345678-9" [formControl]="userForm.controls.rut" formatRut>

        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.birthDate.valid || userForm.controls.birthDate.untouched)">
          <label class="col-form-label" for="inputbirthDate">Fecha de nacimiento</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.birthDate.valid || userForm.controls.birthDate.untouched) ? 'hidden':'visible'">(requerida)</div>

          <input type="text" class="form-control" placeholder="Ej: 27-01-1990" name="dp" [formControl]="userForm.controls.birthDate" ngbDatepicker #datePicker="ngbDatepicker" (focus)="datePicker.open()">

        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.email.valid || userForm.controls.email.untouched)">
          <label class="col-form-label" for="inputemail">Email</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.email.valid || userForm.controls.email.untouched) ? 'hidden':'visible'">(requerido)</div>

          <input type="text" class="form-control" id="inputEmail" placeholder="Ej: t.rodriguez@mi-mail.com" [formControl]="userForm.controls.email" (focus)="datePicker.close()">

        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.phone.valid || userForm.controls.phone.untouched)">
          <label class="col-form-label" for="inputphone">Teléfono</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.phone.valid || userForm.controls.phone.untouched) ? 'hidden':'visible'">(requerido)</div>

          <div class="input-group">

            <!-- <div class="input-group-addon">+56</div> -->

            <input type="text" class="form-control" id="inputPhone" placeholder="Ej: 823715237" [formControl]="userForm.controls.phone">

          </div>

        </div>
      </div>

      <div class="offset-sm-3 offset-lg-3"></div>

      <div class="col-sm-12 col-lg-12">
        <div class="form-group" [class.has-danger]="!(userForm.controls.address.valid || userForm.controls.address.untouched)">
          <label class="col-form-label" for="inputaddress">Dirección</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.address.valid || userForm.controls.address.untouched) ? 'hidden':'visible'">(requerida)</div>

          <input type="text" class="form-control" id="inputAddress" placeholder="Ej: Pasaje Las Carmelas 2647 depto 23" [formControl]="userForm.controls.address">


        </div>
      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.city.valid || userForm.controls.city.untouched)">
          <label class="col-form-label" for="inputcity">Ciudad</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.city.valid || userForm.controls.city.untouched) ? 'hidden':'visible'">(requerida)</div>
        </div>

        <input type="text" class="form-control" id="inputCity" placeholder="Ej: Santiago" [formControl]="userForm.controls.city" [ngbTypeahead]="search">

      </div>

      <div class="col-sm-6 col-lg-6">
        <div class="form-group" [class.has-danger]="!(userForm.controls.zipCode.valid || userForm.controls.zipCode.untouched)">
          <label class="col-form-label" for="inputzipCode">Código Postal</label>

          <div class="form-control-feedback" [style.visibility]="(userForm.controls.zipCode.valid || userForm.controls.zipCode.untouched) ? 'hidden':'visible'">(requerido)</div>

          <input type="text" class="form-control" id="inputZipCode" placeholder="Ej: 6452734" [formControl]="userForm.controls.zipCode">

        </div>
      </div>
    </form>

    <div *ngIf="state==='SENDING_DATA'" class="row">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4>Un segundo...</h4>
          <p>Creando tu cuenta...</p>
        </div>
      </div>
    </div>

    <div *ngIf="state==='API_ERROR'" class="row">
      <h1>Error!</h1>
    </div>

  </div>

  <div class="modal-footer row">
    <button class="btn" [disabled]="!userForm.valid" (click)="submitForm()">Crear mi tarjeta</button>
  </div>

</div>

