<div class="form-spacer hidden-lg-down"></div>
<div class="container">
  <div class="row">

    <div class="col-md-6 offset-md-0 col-sm-8 offset-sm-2 hidden-xs-down container card-container wow fadeInLeft">
      <div class="cardlike container">
        <div class="card-logo row">
          <div class="col-sm-4"><p>Tarjetapp</p></div>
          <div class="col-sm-2 sticker"><p> </p></div>
        </div>
        <div class="card-expiration monospace">
          <p>VENCE</p>
          <p>01/21</p>
        </div>
        <div class="card-number monospace">
          <p>1234 5678 9123 4567</p>
        </div>
        <div class="card-name monospace">
          <input class="editable text-uppercase monospace" #userName type="text" autocomplete="off" [formControl]="quotationForm.controls.userName" placeholder="Ingresa tu nombre">
        </div>
      </div>
    </div>

    <div class="col-md-6 offset-md-0 col-sm-10 offset-sm-3 col-xs-10 offset-xs-2 amount">
      <div class="row">
        <div class="col-md-10 col-sm-12">
          <div class="row">
            <p>Tu tarjeta con</p>

            <input class="editable" #destinationInput type="text" autocomplete="off" [formControl]="quotationForm.controls.destinationAmount">
            <label for="destinationAmount">USD</label>

            <div class="validation" [style.visibility]="!quotationForm.controls['destinationAmount'].valid ? 'visible':'hidden'">
              <p>Ingresa un monto válido</p>
            </div>
          </div>

          <div class="row">
            <p>por</p>

              <div [style.visibility]="loading ? 'visible':'hidden'" class="spinner-container">
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </div>


              <input class="read-only" type="text" id="sourceAmount" autocomplete="off" [formControl]="quotationForm.controls.sourceAmount" readonly="readonly">
              <label for="sourceAmount">CLP</label>

            <div [style.visibility]="error ? 'visible':'hidden'">
              <p class="general-error">Ups! Estamos teniendo problemas para cotizar tu tarjeta. Por favor intenta nuevamente más tarde.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row confirm">
    <div class="confirm-account">
      <br>
      <p class="has-account align-middle" (click)="toggleHasAccount()">
        <i class="material-icons align-middle">{{quotationForm.controls['hasAccount'].value ? 'check_circle' : 'radio_button_unchecked'}}</i>
        Tengo una cuenta bancaria asociada a mi RUT
      </p>
    </div>
    <br>
    <button type="button" data-toggle="modal" data-target="#creationModal" [disabled]="!quotationForm.valid || error || loading" class="btn page-scroll">Crear mi tarjeta</button>
  </div>
</div>


